<title>Yapx | Giriş</title>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				
				<div class="login100-pic js-tilt p-t-50" data-tilt>
					<img src="/general/img/yapxlogom-min.jpg" alt="IMG">
				</div>
				
				
				<div class="login100-form validate-form">
					
					<span class="login100-form-title">
						Yapx Kayıt Ol
					</span>
					
					
						
					
					
					
					<div class="container-login100-form-btn">
                        <a class="login100-form-btn" href="/kayitol" style="color: black;">
						
							Bireysel Kayıt
						
                        </a>
					</div>
                    <div class="container-login100-form-btn">
                        <a class="login100-form-btn" href="/kurumsalhesap" style="color: black;">
						
							Yapı Market Kayıt
						
                        </a>
					</div>
                    <div class="container-login100-form-btn">
                        <a class="login100-form-btn" href="/meslekkayitol" style="color: black;">
						
							Meslek Kayıt
						
                    </a>
					</div>
					
					<div class="text-center p-t-24">
						<span class="txt1">
							Kayıtlı mısınız ? Yoksa
						</span>
						<a class="txt2" href="/sifremiunuttum">
							Şifrenizi mi unuttunuz?
						</a>
					</div>
				</div>
				<div class="login100-form validate-form">
					
				</div>
				<div class="login100-form validate-form">
					
					<a id="bireyselKayitLink" href="/kayitol">
					</a>
					<div class="text-center p-t-12 p-b-50">
						<a class="txt2" href="/anasayfa">
							Ana sayfaya geri dön
							<i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
						</a>
					</div>

				</div>
					
				
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="/general/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/general/vendor/bootstrap/js/popper.js"></script>
	<script src="/general/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/general/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/general/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="/general/js/main.js"></script>

</body>
</html>
<style>
	 .option {
        color: black;
		font-size: 18px;
        margin-right: 20px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.2s ease-in-out;
    }

    .option:hover {
        color: #ffcc00 !important;
        border-bottom-color: #ffcc00 !important;
    }
	.selected {
        color: #ffcc00 !important;
        border-bottom-color: #ffcc00 !important;
    }
</style>

<script>
</script>
