<title>Yapx | Şifremi Unuttum</title>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
					<img src="/general/img/yapxlogom-min.jpg" alt="IMG">
				</div>
				<form action="/changePasswordForgetPost?id=<%-TransactionID %>" enctype="application/x-www-form-urlencoded" method="post" class="login100-form validate-form">
					<span class="login100-form-title">
						Şifre Onay
					</span>

					<div class="wrap-input100 validate-input" data-validate = "YeniSifre">
						<input class="input100" type="password" name="Password" placeholder="Yeni Şifre" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
                    <div class="wrap-input100 validate-input" data-validate = "YeniSifreTekrarı">
						<input class="input100" type="password" name="rePassword" placeholder="Yeni Şifre Tekrarı" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Değiştir
						</button>
					</div>


					<div class="text-center p-t-136">

					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="/general/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/general/vendor/bootstrap/js/popper.js"></script>
	<script src="/general/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/general/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/general/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="/general/js/main.js"></script>

</body>
</html>

<script>
function validateForm(event) {
    event.preventDefault(); 
    var passwordInput = document.querySelector('input[name="Password"]');
     var rePasswordInput = document.querySelector('input[name="rePassword"]');



    if (passwordInput.value !== rePasswordInput.value) {
    alert('Şifreler uyuşmuyor.');
    return false;
  }
  event.target.submit();
}

// Formu dinle
var form = document.querySelector('form');
form.addEventListener('submit', validateForm);

</script>